<template>
    <div class="modal fade" id="permissionsModal" role="dialog" aria-labelledby="permissionsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Manage Permissions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="permissionsModal__form">
                        <div class="form-check">
                          <input class="form-check-input" v-model="isPublic" type="radio" name="visible" v-bind:value="false" id="privateVisibility">
                          <label class="form-check-label" for="privateVisibility">
                            Private Visibility
                          </label>
                        </div>
                        <fieldset :disabled="isPublic == true">
                            <div class="form-group">
                                <label for="inviteByEmail">Invite users to view or edit by email</label>
                                <input type="text" name='invitee[email]' v-model="emailInput" id="inviteByEmail" class="form-control" v-bind:class="{ 'is-invalid': emailError.error }" placeholder="">
                                <div v-show="emailError.error" class="invalid-feedback">
                                    {{ emailError.message }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="invitationPermission">Roles</label>
                                <select id="invitationPermission" name='invitee[role]' v-model='roleIdInput' class="form-control" v-bind:class="{ 'is-invalid': roleIdError.error }">
                                    <option v-bind:value="0">Select a role</option>
                                    <option v-for="role in availableRoles" v-bind:value="role.id">{{ ucString(role.role_name) }}</option>
                                </select>
                                <div v-show="roleIdError.error" class="invalid-feedback">
                                    {{ roleIdError.message }}
                                </div>
                            </div>

                            <p v-show="addUserStatus.display">
                                {{ addUserStatus.message }}
                            </p>

                            <div id="permissionsModal_table">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">User</th>
                                      <th scope="col">Role</th>
                                      <th scope="col">Remove User</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="(user, key) in collectionUsers" v-bind:class="{'table-danger': isChecked(user.id)}">
                                        <td>{{ user.name }}</td>
                                        <td>
                                            <select :data-uid="user.id" v-on:change="modifyUserRole">
                                                <option v-for="role in availableRoles" v-bind:value="role.id" v-bind:selected="isSelected(role.id, user.id)">{{ ucString(role.role_name) }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                              <input class="form-check-input" type="checkbox" :value="user.id" :id="'user' + key" v-model="checkedUsers" v-on:change="checkUser">
                                              <label class="form-check-label" :for="'user' + key">Remove</label>
                                            </div>
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </fieldset>

                        <div class="form-check">
                          <input class="form-check-input" v-model="isPublic" type="radio" name="visible" v-bind:value="true" id="publicVisibility">
                          <label class="form-check-label" for="publicVisibility">
                            Public Visibility
                          </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click.prevent="handleSave">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        props: ['collectionId', 'availableRoles', 'initialCollectionUsers', 'isCollectionPublic'],
        data(){
            return {
                isPublic: this.isCollectionPublic,
                emailInput: '',
                roleIdInput: 0,
                checkedUsers: [],
                modifiedUsers: {},
                collectionUsers: this.initialCollectionUsers,
                addUserStatus: {
                    display: false,
                    message: ''
                },
                emailError: {
                    error: false,
                    message: ''
                },
                roleIdError: {
                    error: false,
                    message: ''
                },
            }
        },
        watch: {
            collectionUsers(){
                // collectionUsers updated when a permission request is completed (succesfully adding a user, etc)
                // reset modifiedUsers and checkedUsers
                this.modifiedUsers = {};
                this.checkedUsers = [];
            }
        },
        methods: {
            handleSave: function(ev){
                // @TODO: throw error if user tries to add self or user already in collectionUsers
                var permObj = {};
                if( this.isPublic === false ){
                    permObj.is_public = false;
                    const emailIsset = this.issetEmail( this.emailInput );
                    const roleIdIsset = this.issetRoleId( this.roleIdInput );

                    if( emailIsset && roleIdIsset ){
                        permObj.store = {};
                        permObj.store.roleId = this.roleIdInput;
                        permObj.store.email = this.emailInput;
                    } else {
                        // Both unset or only 1 unset
                        if( emailIsset || roleIdIsset ){
                            alert('error');
                            return;
                        }
                    }

                    if( this.checkedUsers.length ){
                        permObj.remove = this.getObjDeepCopy( this.checkedUsers );
                    }

                    const modifiedUsersLen = Object.keys(this.modifiedUsers).length;
                    if( modifiedUsersLen ){
                        permObj.modify = this.getObjDeepCopy( this.modifiedUsers );
                        Object.defineProperty(permObj.modify, 'length', {
                            value: modifiedUsersLen,
                            enumerable: false
                        });
                    }

                } else if( this.isPublic === true ) {
                    permObj['is_public'] = true;
                }

                if( this.getObjectLength( permObj ) ){
                    this.managePermissions( permObj );
                }

                // this.resetFormData();
            },
            managePermissions( permissionObject ){
                // if permObj has is_public = false & has role id and email set
                // then send request to update collection user roles
                //
                // if permObj has is_public = false w/o role/email || is_public = true
                // then send request to update collection

                // @TODO: review error handling in all ajax requests below.
                // use a status data variable that initializes as false. on error from axios requests, modify this status variable. status variable connected to error messages

                this.updateCollectionVisibility( permissionObject.is_public );

                if( permissionObject.is_public === false ){
                    if( permissionObject.hasOwnProperty('store') ){
                        this.addUsersToCollection( permissionObject.store.roleId, permissionObject.store.email );
                    }

                    if( permissionObject.hasOwnProperty('remove') ){
                        if( permissionObject.remove.length === 1 ){
                            this.removeACollectionUser( permissionObject.remove[0] );
                        } else if (permissionObject.remove.length > 1) {
                            this.bulkRemoveCollectionUsers( permissionObject.remove );
                        }
                    }

                    if( permissionObject.hasOwnProperty('modify') ){
                        if( permissionObject.modify.length === 1 ){
                            this.modifyCollectionUserRole( permissionObject.modify );
                        } else {
                            this.bulkModifyCollectionUserRoles( permissionObject.modify );
                        }
                    }
                }
            },
            updateCollectionVisibility( isCollectionPublic ){
                axios.put('/collection/' + this.collectionId, {
                    isPublic: isCollectionPublic
                }).then((response) => {
                    // console.log( response );
                }).catch((error) => {
                    // @TODO: error handling
                    if( error.response.status === 400 ){
                        alert( error.response.data.message );
                    }
                });
            },
            addUsersToCollection( roleId, email ){
                const data = {
                    roleId,
                    email
                };
                axios.post(
                    '/collection/' + this.collectionId + 1000 + '/user',
                    data
                ).then((response) => {
                    // console.log( response );
                    this.resetFormErrors();
                    this.resetFormData();

                    this.addUserStatus = {
                        display: true,
                        // message: 'User added to collection'
                        message: response.data.message
                    };

                    const newCollectionUsers = (this.collectionUsers).slice();
                    // newCollectionUsers.push(response.data[0]);
                    newCollectionUsers.push(response.data.user);
                    this.collectionUsers = newCollectionUsers;
                }).catch((error) => {
                    console.log( error );
                    console.log( error.response );
                    // @TODO: error handling for failure to store
                    if( error.response ){
                        if( error.response.data ){
                            if( error.response.data.errors ){
                                const responseErrors = error.response.data.errors;
                                if( responseErrors.hasOwnProperty('email') ){
                                    this.emailError.error = true;
                                    this.emailError.message = responseErrors.email[0];
                                } else {
                                    this.resetEmailError();
                                }
                                if( responseErrors.hasOwnProperty('roleId') ){
                                    this.roleIdError.error = true;
                                    this.roleIdError.message = responseErrors.roleId[0];
                                } else {
                                    this.resetRoleIdError();
                                }
                            }
                            if( error.response.data.message ){
                                this.addUserStatus = {
                                    display: true,
                                    message: error.response.data.message
                                };
                            }
                        }
                    }
                });
            },
            removeACollectionUser( userId ){
                axios.delete(
                    '/collection/' + this.collectionId + '/user/' + userId,
                ).then((response) => {
                    const newCollectionUsers = (this.collectionUsers).slice();

                    const indexToRemove = newCollectionUsers.findIndex((el) => {
                        return el.id == userId;
                    })
                    if( indexToRemove > -1 ){
                        newCollectionUsers.splice(indexToRemove, 1);
                        this.collectionUsers = newCollectionUsers;
                    }
                }).catch((error) => {
                    // @TODO: error handling for failure to remove
                    console.log( error );
                });
            },
            bulkRemoveCollectionUsers( userIds ){
                axios.post(
                    '/collection/' + this.collectionId + '/user/bulk-delete',
                    {
                        usersToRemove: userIds
                    }
                ).then((response) => {
                    const newCollectionUsers = (this.collectionUsers).slice();
                    // @TODO: not optimal
                    response.data[0].forEach((removedUser) => {
                        if( removedUser.status == "success" ){
                            let indexToRemove = newCollectionUsers.findIndex((colUser) => {
                                return removedUser.id == colUser.id;
                            })
                            if( indexToRemove > -1 ){
                                newCollectionUsers.splice(indexToRemove, 1);
                            }
                        } else {
                            // @TODO: error handling for failure to remove
                            console.log( 'failure', removedUser );
                        }
                    });
                    this.collectionUsers = newCollectionUsers;

                }).catch((error) => {
                    // @TODO: error handling for failure to remove
                    console.log( error );
                });
            },
            modifyCollectionUserRole( modifyUsersList ){
                const keys = Object.keys(modifyUsersList);
                const uid = keys[0];
                const rid = parseInt( modifyUsersList[uid] );
                axios.patch(
                    '/collection/' + this.collectionId + '/user/' + uid,
                    {
                        roleId: rid
                    }
                ).then((response) => {
                    console.log( response );
                    // if successful, then update role id of user in this.collectionUsers
                    const newCollectionUsers = (this.collectionUsers).slice();
                    let userIndex = newCollectionUsers.findIndex((colUser) => {
                        return uid == colUser.id;
                    })
                    if( userIndex > -1 ){
                        newCollectionUsers[userIndex].role_id = rid;
                    }
                    this.collectionUsers = newCollectionUsers;
                }).catch((error) => {
                    // @TODO: error handling
                    console.log( error );
                    if( error.response ){

                    }
                });
            },
            bulkModifyCollectionUserRoles( modifyUsersList ){
                axios.post('/collection/' + this.collectionId + '/user/bulk-update', {
                    usersToUpdate: Object.assign({}, modifyUsersList)
                }).then((response) => {
                    console.log( response );
                    // iterate over results for each attempted update
                    const newCollectionUsers = (this.collectionUsers).slice();
                    // @TODO: not optimal. iterates over n items n times
                    response.data[0].forEach((modifiedUser) => {
                        if( modifiedUser.status == "success" ){
                            let indexToModify = newCollectionUsers.findIndex((colUser) => {
                                return modifiedUser.id == colUser.id;
                            })
                            if( indexToModify > -1 ){
                                newCollectionUsers[indexToModify].role_id = parseInt( modifiedUser.roleId );
                            }
                        } else {
                            // @TODO: error handling for failure to remove
                            console.log( 'failure', modifiedUser );
                        }
                    });
                    this.collectionUsers = newCollectionUsers;
                }).catch((error) => {
                    console.log( error );
                    // @TODO: error handling
                });
            },
            modifyUserRole: function(ev){
                const uid = ev.target.dataset.uid;
                const newRoleId = ev.target.value;

                // remove user from modifiedUsers if role is being set to the user's original role
                const index = (this.collectionUsers).findIndex((el) => {
                    return el.id == uid;
                });
                if( this.modifiedUsers.hasOwnProperty(uid) && newRoleId == this.collectionUsers[index].role_id ){
                    this.removeFromModifiedUsers(uid);
                } else {
                    const intermediateObj = {};
                    intermediateObj[uid] = newRoleId;
                    this.modifiedUsers = Object.assign({}, this.modifiedUsers, intermediateObj);
                }

                // if this user is in checkedUsers, remove from checkedUsers
                const ind = this.checkedUsers.indexOf( parseInt(uid) );
                if( ind > -1 ){
                    this.checkedUsers.splice( ind, 1 );
                }
            },
            checkUser: function(ev){
                // if user is in modifiedUsers, remove from modifiedUsers
                this.removeFromModifiedUsers(ev.target.value);
            },
            removeFromModifiedUsers: function( userId ){
                // if user is in modifiedUsers, remove from modifiedUsers
                if( this.modifiedUsers.hasOwnProperty(userId) ){
                    let modifiedUsersCopy = Object.assign({}, this.modifiedUsers);
                    delete modifiedUsersCopy[userId];
                    this.modifiedUsers = Object.assign({}, modifiedUsersCopy);
                }
            },
            ucString: function( str ){
                return str.charAt(0).toUpperCase().concat(str.substring(1));
            },
            issetEmail: function( emailStr ){
                // @TODO
                return emailStr.length > 0;
            },
            issetRoleId: function( roleId ){
                // @TODO
                return roleId > 0;
            },
            getRoleName: function( roleId ){
                return this.ucString( this.availableRoles[roleId - 1].role_name );
            },
            isChecked: function( key ){
                if( typeof key == 'string' ){
                    key = parseInt(key);
                }
                return this.checkedUsers.indexOf(key) > -1;
            },
            resetFormData(){
                this.roleIdInput = 0;
                this.emailInput = '';
                this.checkedUsers = [];
            },
            resetEmailError(){
                this.emailError = {
                    error: false,
                    message: ''
                }
            },
            resetRoleIdError(){
                this.roleIdError = {
                    error: false,
                    message: ''
                }
            },
            resetFormErrors(){
                this.resetEmailError();
                this.resetRoleIdError();
            },
            getObjDeepCopy: function( obj ){
                return JSON.parse(JSON.stringify(obj));
            },
            isSelected(roleId, userId){
                if( this.modifiedUsers.hasOwnProperty(userId) ){
                    return roleId == this.modifiedUsers[userId];
                }

                const index = (this.collectionUsers).findIndex((el) => {
                    return el.id == userId;
                });

                return roleId == this.collectionUsers[index].role_id;
            },
            getObjectLength( obj ){
                return Object.keys(obj).length;
            }
        }
    }
</script>
