<template>
    <div class="webpage-item card">
        <div class="card-body d-flex">
            <div class="webpage-title-container flex-grow-1">
                <p class="webpage-title h5">{{ userWebpage.webpage.title }}</p>
            </div>
            <div class="webpage-action-container d-flex">
                <a v-bind:href="userWebpage.webpage.url" target="_blank">Open link</a>
                <a href="#" @click="deleteWebpage" class="ml-3">{{ buttonText }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            userWebpage: {
                type: Object,
                required: true
            },
            buttonText: {
                type: String,
                default: 'Delete'
            }
        },
        methods: {
            deleteWebpage: function( ev ){
                const user_webpage_id = this.userWebpage.id;
                this.$emit('destroy', user_webpage_id);
            }
        }
    }
</script>
