<template>
    <form @submit.prevent="handleSubmit">
        <div class="form-group">
            <select v-model="webpageSelected" class="form-control">
                <option value="0">Select a page to add to this collection</option>
                <option v-for="(page, index) in webpages" :value="index + 1">{{ page.webpage.title }}</option>
            </select>
        </div>
         <button class="btn btn-primary">Add Webpage</button>
    </form>
</template>

<script>
    export default {
        props: {
            pagesNotInCollection: {
                type: Array,
                required: true
            }
        },
        data(){
            return {
                webpageSelected: 0,
                webpages: this.pagesNotInCollection
            }
        },
        computed:{
            webpageIndex: function(){
                return this.webpageSelected - 1;
            }
        },
        methods: {
            handleSubmit:function(ev){
                if( this.webpageIndex > -1 ){
                    // console.log( this.webpages[this.webpageIndex] );
                    this.$emit('update', this.webpages[this.webpageIndex]);

                    const updatedCollection = (this.webpages).slice();
                    updatedCollection.splice(this.webpageIndex, 1);
                    this.webpages = updatedCollection;

                    this.webpageSelected = 0;
                }
            }
        }
    }
</script>
