<template>
  <form @submit.prevent="handleSubmit" class="form-inline">
    <div class="form-group flex-grow-1">
      <label class="sr-only" for="new-webpage-input">Webpage URL</label>
      <input type="text" name="new-webpage" id="new-webpage-input" v-model="inputVal" class="form-control mr-3 w-100">
    </div>
    <button class="btn btn-primary">Add Webpage</button>
  </form>
</template>

<script>
  export default {
    data(){
      return {
        inputVal: ''
      }
    },
    methods: {
      handleSubmit: function(ev){
        if( this.inputVal && this.isValidUrl(this.inputVal) ){
          this.$emit('update', this.inputVal);
        } else {
          console.log( 'not a url' );
        }

      },
      isValidUrl:function( url ){
        // https://gist.github.com/dperini/729294
        const urlRegex = new RegExp(/^(?:(?:https?|ftp):\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,}))\.?)(?::\d{2,5})?(?:[/?#]\S*)?$/, 'i');
        return urlRegex.test( url );
      }
    }
  }
</script>
